<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>PrimeVue Demo</title>
    <link
      href="https://unpkg.com/primevue/resources/themes/lara-light-indigo/theme.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/primevue/resources/primevue.min.css"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/primevue/core/core.min.js"></script>
    <script src="https://unpkg.com/primevue/slider/slider.min.js"></script>
  </head>

  <body>
    <div id="app">
      <p-slider v-model="val"></p-slider>
      <h6>{{val}}</h6>
    </div>

    <script>
      const { createApp, ref } = Vue;

      const App = {
        setup() {
          const val = ref(null);

          return {
            val,
          };
        },
        components: {
          "p-slider": primevue.slider,
        },
      };

      createApp(App).use(primevue.config.default).mount("#app");
    </script>
  </body>
</html>
